#result{
  margin-top: 40px;
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
   gap: 20px;
    
    
  
}

.card{
  position: relative;
  transition: 0.2s ease-out;
}
.card:hover{
  scale: 1.1;
  
}
.discount{
  color: green;

}