#result{
  margin-top: 40px;
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
   gap: 20px;
    
    
  
}

.card{

position: relative;
    transition: all 0.1s ease-in;
}
.card:hover{
  scale: 1.08;
  
}
.discount{
  padding-bottom: 20px;
  margin-left: 20px;
}